<a [routerLink]="['/', board?.id]" class="board-card-link">
  <div class="board-card">
    <h3 class="board-card-title">{{ board?.name }}</h3>
    <div class="board-card-content">
      <p class="board-card-subtitle">Tasks:</p>
      <ul class="tasks-list">
        @for (column of board?.columns; track column.id) {
        <li>
          <p class="task-category">{{ column.name }}</p>
          <span class="task-count">{{ column.tasks.length }}</span>
        </li>
        }
      </ul>
    </div>
  </div>
</a>
