<div class="column-wrapper">
  <app-editable-header
    [name]="column!.name"
    (saveEdit)="onUpdateColumnName($event)"
    (deleteClick)="deleteColumn()"
  />

  <div
    cdkDropList
    #emptyList="cdkDropList"
    [cdkDropListData]="{ tasks: column.tasks, columnId: column.id }"
    class="tasks-container"
    (cdkDropListDropped)="onDrop($event)"
  >
    @for (task of column.tasks; track task.id) {
    <div
      class="task-card-wrapper"
      cdkDrag
      [cdkDragData]="task.name"
      [@taskAnim]="taskAnimationState"      
      [ngClass]="highlightTask(task.id, column.id)"
      [id]="'task-' + task.id"
    >
    <div class="priority-band" [ngStyle]="priorityStyle(task.completed, task.priority, task.duedate)"></div>
      <app-task-card
        [task]="task"
        [columnId]="column.id"
        [boardId]="boardId"
        (editClick)="editTask(task)"
        (deleteClick)="onDeleteTask(task)"
      >
      </app-task-card>
    </div>
    }
  </div>

  <div class="btns-container btns-centered">
    <button (click)="addTask()" class="btn btn-small">
      <i class="material-icons-outlined">add</i>Add
    </button>
  </div>
</div>

<!-- <div class="task-placeholder" *cdkDragPlaceholder></div> -->
