<div class="board-container" @boardViewAnim>
  <div class="board-header">
    @if (board) {<app-editable-header
      [boardStyle]="true"
      [name]="board.name"
      (saveEdit)="onUpdateBoardName($event)"
    />}
    <div class="header-btns-container">
      <button (click)="onAddColumn()" class="btn add-column-btn">
        <i class="material-icons-outlined">add</i>Add Column
      </button>
      <button
        (click)="openDialog(); $event.stopPropagation()"
        class="btn delete-board-btn"
      >
        <i class="material-icons">delete</i>
      </button>
      
    </div>
  </div>

  <div class="columns-container" cdkDropListGroup>
    @for (column of board?.columns; track column.id ) {
    <app-column
      [column]="column"
      [boardId]="board?.id"
      (dropEmitter)="drop($event)"
      (deleteClick)="onDeleteColumn(column.id)"
    ></app-column>
    }
  </div>
</div>
