.navbar {
  display: flex;
  justify-content: center;
  margin: 40px auto 20px;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(white, 0.25);
  backdrop-filter: blur(3px);
}

.tab {
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.tab-tile {
  display: flex;
  padding: 15px;
  border-radius: 10px;
  color: #222;
  cursor: pointer;
}

.tab-tile::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: brown;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.9;
  transition: 0.2s;
}

.tab-tile:hover::before {
  transform: scale(1.2);
  opacity: 1;
}

.dashboard-tab .tab-tile::before {
  // background: linear-gradient(45deg, #f5a5f8, #c79b59);
  background: linear-gradient(45deg, #f7a1ab, #b8c4f5);
}

.calendar-tab .tab-tile::before {
  background: linear-gradient(45deg, #8adbe5, #fac6cc);
}

.settings-tab .tab-tile::before {
  background: linear-gradient(45deg, #fac6cc,#8adbe5);
}

.notifications-tab .tab-tile::before {
  background: linear-gradient(45deg, #b8c4f5, #f7a1ab);
}

.badge {
  position:absolute;
  top:-5px;
  right:-8px;
  background-color: #d54b21;
  color:white;
  border-radius: 50%;
  padding:2px 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
