:host {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 40px;

  h2 {
    color: rgba(white, 0.85);
    font-size: 36px;
    font-weight: 600;
  }
}