@if (!editMode) {
<h2>{{ name }}</h2>
<div (click)="$event.stopPropagation()" class="task-item-actions">
  <div (click)="onEditClick()" class="task-item-actions-btn">
    <i class="material-icons-outlined">edit</i>
  </div>
  <div (click)="onDeleteClick()" class="task-item-actions-btn">
    <i class="material-icons">delete</i>
  </div>
</div>
} @else {
<div class="form-field">
  <input
    [(ngModel)]="name"
    #nameField="ngModel"
    (blur)="onSaveEdit()"
    (keyup.enter)="onSaveEdit()"
    (keydown.escape)="onCancelEdit()"
    required
    minlength="3"
  />
  @if (showValidationErrors) {<ng-container
    >@if (nameField.errors?.['required']) {
    <p>Please enter title note</p>
    } @if (nameField.errors?.['minlength']) {
    <p>Title must be at least 3 characters</p>
    }</ng-container
  >}
</div>

<!-- <div class="btns-container">
  <button routerLink="" type="button" class="btn" (click)="onCancelEdit()">
    Cancel
  </button>
  <button
    [disabled]="!nameField.valid"
    type="submit"
    class="btn align-end"
    (click)="onSaveEdit()"
  >
    Save
  </button>
</div> -->

}
