.board-form-wrapper {
  background: rgba(white, 0.75);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  max-height: 100%;
  overflow: auto;
}

.column-section {
  margin-bottom: 30px;
}

.column-name {
flex:1;
}

.task-limit {
  max-width: 60px;
}

.edit-column-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    border-bottom: 1px solid #cac9c9;
}

.add-btn {
    margin:8px 0;
}

.add-icon {
  font-size: 16px;
  vertical-align: middle;
}


.add-btn {
  margin:8px 0;
}

.add-icon {
font-size: 16px;
vertical-align: middle;
}



@media (max-width: 768px) {
  .edit-column-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .btns-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .btn {
    width: 100%;
  }
}

