<div class="navbar">
  <a routerLink="" class="dashboard-tab tab">
    <div class="tab-tile">
      <span class="material-icons-outlined">dashboard_customize</span>
    </div>
  </a>
  <a routerLink="" class="calendar-tab tab">
    <div class="tab-tile">
      <span class="material-icons-outlined">calendar_month</span>
    </div>
  </a>
  <a routerLink="" class="settings-tab tab">
    <div class="tab-tile">
      <span class="material-icons-outlined">settings</span>
    </div>
  </a>
  
  <a routerLink="" class="notifications-tab tab">
    <div class="tab-tile">
      <span class="material-icons-outlined">notifications</span>
    </div>
  </a>
</div>
