.tooltip {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background: rgba(0, 0, 0, 0.84);
  backdrop-filter: blur(10px);
  color: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  max-height: calc(100vh - 50px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transform-origin: left bottom;
  overflow-y: auto;
  animation: expandHeight 0.2s ease-out;

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }

  .guide-section {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    margin: 20px 0 15px;
  }

  .menu-icon {
    font-size: 24px;
  }

  .section-name {
    font-size: 20px;
    font-weight: 400;
    span {
      font-weight: 500;
    }
  }

  li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 9px;
    line-height: 22px;

    span {
      display: flex;
      margin-right: 10px;
    }


  }

  button {
    display: block;
    margin: 20px auto;
  }

  .copyright {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 10px;
  }


}

@keyframes expandHeight {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}
