<div class="task-list-wrapper">
  <div class="task-list-body">
    <full-calendar #calendar [options]="calendarOptions">
      <ng-template #eventContent let-arg>
        <app-task-card
          (toggleClick)="toggleCompleted(arg.event, $event)"
          (deleteClick)="onDeleteTask(arg.event.extendedProps)"
          [task]="arg.event.extendedProps.task"
          [boardId]="arg.event.extendedProps.boardId"
          [columnId]="arg.event.extendedProps.columnId"
          [source]="'calendar'"
        ></app-task-card>
      </ng-template>
    </full-calendar>
  </div>
</div>

<!-- <ng-template #eventContent let-arg>
        <div
          class="task-wrapper"
          [class.overdue]="isTaskOverdue(arg.event.extendedProps.task.duedate)"
        >
          <div class="task-name">{{ arg.event.title }}</div>
          <div class="board-name">
            ({{ arg.event.extendedProps.boardName }})
          </div>
        </div>
      </ng-template> -->
