.task-list-wrapper {
  max-width: 800px;
  max-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1440px) {
    padding: 15px 7px;
  }

  .title {
    color: #222222;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;

    @media screen and (min-width: 1024px) {
      font-size: 32px;
      margin: 20px 0;
    }
  }

  .calendar-wrapper {
    flex: 1;
    overflow-y: auto;
    border-radius: 12px;
    background-color: rgba(white, 0.45);
    margin: 10px;
    
    .calendar-body {
      height: 100%;
      padding: 0px 7px 7px;
    }
  }
}
