@if (visibleDialog) {
<div
  class="backdrop"

  (click)="visibleDialog !== 'mobileNotice' ? closeDialog(null) : null"
  [@backdropAnimation]="visibleDialog"
>
  <div class="dialogs">
    @if (visibleDialog === "intro") {<app-intro-dialog
      (emitCloseIntro)="closeDialog($event)"
    ></app-intro-dialog
    >} @if (visibleDialog === 'quickGuide') {<app-info-dialog
      (emitCloseQuickGuide)="closeDialog($event)"
    ></app-info-dialog
    >} 
    @if (visibleDialog === 'mobileNotice') {
    <div class="mobile-dialog">
      <span class="material-icons-outlined"> warning </span>
      <h2>Mobile & Tablet Views in Progress</h2>
      <p class="message">
        For the best experience, try using a laptop or desktop computer.
      </p>
      <a href="https://falkowska-portfolio.onrender.com/" class="portfolio-link">See My Portfolio Website</a>
    </div>
    }
  </div>
</div>
}

<div class="app-wrapper">
  <div class="top-section">
    <h1>{{ dateTime | async | date : "HH:mm" }}</h1>
    <h2>{{ dateTime | async | date : "d LLL y" }}</h2>
  </div>
  <div class="content-section" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet" />
  </div>
  <i class="material-icons-outlined info-icon" (click)="showInfoDialog()"
    >info</i
  >
  <div class="bottom-section"><app-navbar></app-navbar></div>
</div>

