<div class="column-wrapper">
  <h3>{{ column.name }}</h3>

  <div
    cdkDropList
    
    #emptyList="cdkDropList"
    [cdkDropListData]="column.tasks"
    class="tasks-container"
    (cdkDropListDropped)="onDrop($event)"
  >
    @for (task of column.tasks; track task.id) {
    <div class="my-item" cdkDrag [cdkDragData]="task.name">
      <app-task-card class="my-item" [task]="task" (editClick)="onEditClick(task)" (deleteClick)="onDeleteClick(task)"> </app-task-card>
      <!-- <div class="my-item" cdkDrag [cdkDragData]="task.name">
        {{ task.name }}        
      </div> -->
    </div>
    }
  </div>

  <div class="btns-container btns-centered">
    <a class="btn btn-small"><i class="material-icons-outlined">add</i>Add</a>
  </div>
</div>

<!-- <div class="task-placeholder" *cdkDragPlaceholder></div> -->
