<div class="board-form-wrapper container-sm">
  <h2 class="is-bold">{{editMode ? "Edit Board":"New Board"}}</h2>
  <form [formGroup]="boardForm" novalidate (ngSubmit)="onSubmit(boardForm)">
    <div class="form-field">
      <label idFor="borad-name">Board Name</label>
      <input type="text" id="borad-name" formControlName="boardName" />
      @if (boardForm.get('boardName')?.touched &&
      boardForm.get('boardName')?.errors) {<ng-container>
        @if (boardForm.get('boardName')?.errors?.['required']) {
        <p class="error-message">Value is required</p>
        } @if (boardForm.get('boardName')?.errors?.['minlength']) {
        <p class="error-message">Value must be at least 3 characters long</p>
        } </ng-container
      >}
    </div>
    <div class="column-section">
      <h4>Columns</h4>
      @for (item of items.controls; track item; let i =$index) {
      <div formArrayName="items">
        <div [formGroupName]="i">
          <div class="edit-column-actions">
            <div class="column-name">
              <input placeholder="Column Name" formControlName="columnName" type="text" />
              @if (validateField(item)) {
              <p class="error-message">Column Name is required</p>
              }
            </div>
            
            <input class="task-limit" placeholder="Task Limit (optional)" formControlName="taskLimit" type="number" />
            <button [disabled] = "items.length === 1" (click)="removeItem(i)" type="button" class="btn btn-small">
              Delete
            </button>
          </div>
        </div>
      </div>
      } @if (boardForm.get('items')?.touched && boardForm.get('items')?.errors?.['uniqueColumnNames'])
      {
      <p class="error-message">Column names must be unique</p>
      }

      <button type="button" class="add-btn btn btn-small" (click)="addItem()">
        <i class="add-icon material-icons-outlined">add</i>Add Column
      </button>
    </div>

    <div class="btns-container">
      @if (editMode) {<button (click)="deleteBoard()" class="btn">Delete</button>}
      <button routerLink="" type="button" class="btn">Cancel</button>

      <button [disabled]="!isFormValid()" type="submit" class="btn align-end">
        Save
      </button>
    </div>
  </form>
</div>
