.calendar-wrapper {
  max-width: 1400px;
  max-height: 100%;
  overflow-y: auto;
  margin: auto;
  padding:10px;



  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
  }

}

.calendar-body {
  height: 100%;
  padding: 15px 7px;
  border-radius: 12px;
  background-color: rgba(white, 0.45);

  
}

.task-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 6px 3px;
}

.task-name {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 4px;

}

.task-name-multi-month {
  overflow: hidden;
  margin: 2px;
}
